<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="db1" value="Data Source=" />
    <add key="db2" value="Data Source=" />
    <add key="winmergepath" value="c:\temp\winmerge.exe"/>
    <add key="winmergecmd" value="/e /u /wl /dl %6 /dr %7 %1 %2 %4"/>
  </appSettings>
  </configuration>