<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="db1" value="" />
    <add key="db2" value="" />
    <add key="winmergepath" value="C:\Program Files (x86)\WinMerge\WinMergeU.exe"/>
    <add key="winmergecmd" value="/maximize /x /e /u /wl /dl %file1name /dr %file2name D:\Projects\Monolit\DBProjectComparer\DBProjectComparer\bin\Debug\tmp\file1.sql D:\Projects\Monolit\DBProjectComparer\DBProjectComparer\bin\Debug\tmp\file2.sql"/>
  </appSettings>
</configuration>